################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Tetris/bin/Debug
/.vs/Tetris
/Tetris/obj/Debug
/Tetris/bin/Release
/Tetris/obj/Release
